body {
  background-color: rgb(85, 173, 186);
}

h1 {
  text-align: center;
  font-family:fantasy;
  font-size:100px;
}

a {
  font-size: large;
  font-family: Arial;
  text-align: center;
  text-decoration: none;
}