body {
  background-color: #285b6c;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  font-size: 1rem;
  background-color: #ad7d7d;
}

.footer {
  background-color: #ad7d7d;
  padding: 10px;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: right;
}

.flex-container > div {
  font-size: 1rem;
  padding: 1rem;
}

h1 {
  text-align: center;
  font-size: 6rem;
}

a {
  font-size: large;
  font-family: Arial;
  text-align: center;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: 100px auto;
  padding: 10px;
}

.card {
  background-color: #fff;
  margin: 20px 0;
  padding: 20px 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
