body {
  background-color: rgb(211, 145, 182);
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  font-size: 1rem;
  color: #fff;
  background-color: #000;
}

.flex-container {
  display: flex;
  justify-content: right;
}

.flex-container > div {
  font-size: 1rem;
  padding: 1rem;
}

.header-button {
  background-color: rgb(129, 129, 137);
  border-radius: 10%;
  border: none;
  color: #fff;
  padding: 8px 15px;
  cursor: pointer;
}

.header-button:hover {
  background-color: rgb(100, 100, 110);
}

.banner {
  text-align: center;
  background-color: rgb(181, 107, 157);
  padding: 20px;
  color: rgb(0, 0, 0);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 2rem;
}

.card {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  width: 300px;
  text-align: center;
}

.card h2 {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  background-color: rgb(181, 107, 157);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
}

.login-btn:hover {
  background-color: rgb(150, 80, 130);
  transform: scale(1.05);
}

.signup-text {
  margin-top: 15px;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #000;
  padding: 10px;
  text-align: center;
}

.footer > a {
  color: #fff;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  padding: 10px;
  text-align: center;
}
